/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html {
    font-family: "Open Sans", sans-serif;
}

/*header*/
header {
    height: 80px;
    padding-top: 20px;
}

.logo {
    float: left;
    padding-right: 50px;
}

ul {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding-right: 20px;
}

.l-right {
    float: right;
}

.l-left {
    float: left;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.h-btn {
    float: right;
    margin-right: 50px;
}
/* / Header */

/*main*/
.container-1 {
    background-color: #b4d0e7;
}

.content-1 {
    width: 80%;
    margin: 0 auto;
    height: 100vh;/*debug*/
}

.title {
    text-align: left;
    font-size: 40px;
    padding-top: 80px;

}

.text-1 {
    width: 30%;
    margin-top: 30px;
}

.btn-blu {
    margin-top: 20px;
    margin-bottom: 5px;
}
