/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html {
    font-family: "Open Sans", sans-serif;
}

/*header*/
header {
    height: 70px;
    width: 100%;
    padding-top: 20px;
    background-color: white;
    position: fixed;
    z-index: 100;
}


.logo {
    float: left;
    padding-right: 50px;
}

ul {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding-right: 20px;
}

.menu-item:hover a {
    border-bottom: solid 3px black;
    padding-bottom: 25px;
}
.l-right {
    float: right;
}

.l-left {
    float: left;
}

a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.h-btn {
    float: right;
    margin-right: 50px;
}
/* / Header */

/*main*/
.container-1 {
    background-color: #b4d0e7;
}

.content-1 {
    width: 80%;
    margin: 0 auto;
    height: 100vh;/*debug*/
}

.title {
    text-align: left;
    font-size: 40px;
    padding-top: 130px;

}

.text-1 {
    width: 40%;
    margin-top: 25px;
    font-size: 100%;
}

.btn-blu {
    margin-top: 25px;
    margin-bottom: 15px;
    width: 200px;
    height: 40px;
    font-size: 15px;
}

img {
    /*background-image: url("../img/jumbo.png");*/
    font-size: 50%;
    background-size: cover;
    float: right;
}

.arrow {
    font-size: 100px;
}

 /*.abs-center {
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
}